body{
  background-color: black;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  text-align: center;
}
h1{
  color: white;
  margin: 0px;
  margin-bottom: 0.5rem;
  
  
}
h2{
  color: white;
  margin: 0px;
  margin-bottom: 0.5rem;
  padding-top: 20px;
}
h5{
  color: white;
  margin: 0px;
  margin-bottom: 0.5rem;
  padding-top: 20px;
}
.input{
  border: 1px solid;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}
select{
  margin-left: .5rem;
}
.equals{
  font-weight: bold;
  font-size: 2rem;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}